.message{
    margin: 28px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding: 0px 10px 0px 10px;
}



.from{
    font-size: 12px!important;
}

.time{
    font-size: 8px!important;
}