.train-line{
    font-size: 12px!important;
}

.dest{
    font-size: 24px;
    margin: 24px;
    color: white;
    font-family: Cambria;
    border-width: 2px;
    border-color: #282c34;
    border-radius: 8px;
}

.eta{

    font-size: 16px!important;
}