.train-line{
    font-size: 14px!important;
}

.dest{
    margin: 24px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding: 0 80px 10px 80px;
    border-radius: 12px;
}

.eta{

    font-size: 24px!important;
}