.market-open{
    font-size: 14px!important;
}

.stock{

    margin: 28px;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding: 0 10px 10px 10px;
    border-radius: 12px;
}

.good-or-bad{

    font-size: 24px!important;
}